html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0px auto; */
    height: 80vh;
    width: 80vh;
}

.row {
    display: flex;
    padding: 0;
    margin: 0;
}

.pixel {
    /* border: 1px solid #0000ff; */
    padding: 0;
    margin: 0;
    border: none;
    flex-grow: 1;
}

.color1 {
    background-color: purple;
}

.grid-size-button {
    margin: 20px;
    height: 50px;
    width: 150px;
}

